/* styles.css */
body {
    margin: 0;
    padding: 0;
    background-color: #fffbfd; /* background color */
    color: #000000; /* Text color */
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex; /* arranging side and main */
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

.side-panel-left{
    width: 150px;
    background-color: #FFB8D1;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
}

.side-panel-left {
    width: 150px;
    background-color: #FFB8D1;
    padding: 20px;
    border-radius: 10px;
    margin-left: 20px;
}

.main {
    flex: 1;
    padding: 20px;
}

h1 {
    color: #38001d; /* Heading color */
    background-color: #E7CEE3; /* background color for the outline */
    padding: 10px; /* padding for the outline */
    border-radius: 10px; /* round the corners */
}