/* styles.css */
body {
    margin: 0;
    padding: 0;
    background-color: #fffbfd; /* background color */
    color: #000000; /* Text color */
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #38001d; /* Heading color */
    background-color: #E7CEE3; /* background color for the outline */
    padding: 10px; /* padding for the outline */
    border-radius: 10px; /* round the corners */
}