/* styles.css */
body {
    margin: 0;
    padding: 0;
    background-color: #faeef4; /* background color */
    color: #000000; /* Text color */
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #FFB8D1;
    padding: 10px;
    border-radius: 20px; /* round the corners */
}

.navbar a {
    float: center;
    text-align: center;
}

.container {
    display: flex; /* arranging side and main */
    max-width: flex;
    text-align: center; 
}

.side-panel-left {
    width: 150px;
    background-color: #FFB8D1;
    padding: 20px;
    margin-right: 0px;
}

.side-panel-right {
    width: 150px;
    background-color: #FFB8D1;
    padding: 20px;
    margin-left: 0px;
}

.main {
    flex: 1;
    padding: 10px 10px 100%;
}

.paragraph{
    text-align: left;
    background-color: #FFC7DA; /* background color for the outline */
    padding: 10px 10px 20px; /* padding for the outline */
    border-radius: 20px; /* round the corners */

}

h1 {
    color: #110009; /* Heading color */
    background-color: #E7CEE3; /* background color for the outline */
    padding: 10px; /* padding for the outline */
    border-radius: 10px; /* round the corners */
}

h2 {
    width: fit-content;
    color: #17010d;
    background-color: #FF93B9; /* background color for the outline */
    padding: 0px 20px 0px; /* padding for the outline */
    border-radius: 10px; /* round the corners */
    text-align: left;
}