.App {
  margin: 0;
  padding: 0;
  background-color: #fff1f6;
  color: black;
  font-family:'Sofia', cursive;
}

.sidebar-left {
  width: 150px;
  background-color: #FFB8D1;
  padding: 20px;
  margin-right: 0px;
}

.sidebar-rigth {
  width: 150px;
  background-color: #FFB8D1;
  padding: 20px;
  margin-left: 0px;
}

.main {
  flex: 1;
  padding: 10px 10px 100%;
}

.container {
  text-align: center;
  display: flex;
  max-width: flex;
}

.title {
  color: #ed5f90;
  font-weight: bold;
  background-color: #FFC7DA;
  padding: 10px;
  border-radius: 10px;
  font-size: xx-large;
}

.subtitles {
  width: fit-content;
  color: #fff1f6;
  background-color: #FF93B9;
  padding: 10px 20px 10px;
  border-radius: 10px;
  text-align: left;
  margin-top: 40px;
  font-size: 20px;
}

.paragraph1 {
  background-color: #D2ABD8;
  padding: 10px 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  text-align: left;
}

.paragraph2 {
  background-color: #AAD0D6;
  padding: 200px 10px 200px;
  margin-top: 20px;
  border-radius: 10px;
  text-align: center;
}

.paragraph3 {
  background-color: #B9DCD8;
  padding: 10px 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  text-align: left;
}

.paragraph4 {
  background-color: #B8E2C8;
  padding: 10px 10px 20px;
  margin-top: 20px;
  border-radius: 10px;
  text-align: left;
}